<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="jsonConsole" xsi:type="Console" encoding="UTF-8">
      <layout type="JsonLayout" IncludeAllProperties="true">
        <attribute name="timestamp" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" escapeUnicode="false" />
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" escapeUnicode="false" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="jsonConsole" />
  </rules>
</nlog>